<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Make a Comment</h1>
    <form method="POST" action="/discussion">
        <div class="form-group">
            <label for="content">Comment:</label>
            <input name="content" type="text" id="content">
        </div>

        <div class="form-group">
            <input name="userId" type="hidden"  th:value="${loggedUser.id}">
        </div>

        <div class="form-group">
            <input name="clubId" type="hidden"  th:value="${currentClub.id}">
        </div>
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
    </form>
</div>
</body>
</html>