<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
<header>
    <nav th:replace="fragments/nav :: nav"></nav>
</header>
    <main class="mt-5 d-flex p-3 justify-content-center flex-wrap">
        <div class="w-75 m-3 shadow bg-light rounded border border-secondary p-3 card">


            <div class="card-header media">
                <img src="/feature.jpg" width="20%" alt="default club image">
                <div class="ml-5 text-left w-75">
                    <h1 class="display-3" th:text="${currentClub.clubName}">Club Name</h1>
                    <h3 th:text="${currentClub.description}">Club Description</h3>
                    <div th:each="membership : ${currentClub.memberships}">
                        <div th:if="${membership.applicationUser.equals(loggedUser)}" class="mt-3 mb-3 d-flex flex-wrap">
                            <h4 class="mr-3">Invite your friends:</h4>
                            <p class="border border-secondary p-1 w-25 text-center" th:text="${currentClub.randomId}">Join Code</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body d-flex justify-content-center flex-wrap">
                <div th:if="${currentClub.currentBook}" class="w-100 d-flex justify-content-center flex-wrap mb-5">
                    <h1 class="card-title w-75">Current Book</h1>
                    <div class="media rounded border border-secondary p-3 w-75">
                        <img src="/default-book-cover.png" width="20%">
                        <div class="ml-5 text-left w-75">
                            <h2 th:text="${currentClub.currentBook.title}">Book Title</h2>
                            <h5 th:text="${currentClub.currentBook.author}">Book Author</h5>
                            <p th:text="${currentClub.currentBook.description}">Book Description</p>
                        </div>
                    </div>
                </div>

                <h1 class="card-title w-75">Club Members</h1>
                <div class="rounded border border-secondary w-75 d-flex flex-wrap pl-1 pr-1 mb-5">
                    <div th:each="member : ${currentClub.memberships}" class="w-50 p-2 mb-2 mt-2">
                        <a th:href="@{/users/{id}(id=${member.applicationUser.id})}">
                            <div class="media btn btn-outline-dark">
                                <img th:src="${member.applicationUser.userImg}" onerror="this.onerror=null; this.src='/default-avatar.png'" alt="user profile picture" width="20%">
                                <div class="media-body text-left ml-3">
                                    <h3 th:text="${member.applicationUser.username}">Username</h3>
                                    <p class="mb-0">Joined: <span class="badge badge-dark" th:text="${#dates.format(member.dateJoined, 'MM/dd/yyyy')}"></span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <h1 class="card-title w-75">Club Details</h1>
                <div class="rounded border border-secondary w-75 d-flex flex-wrap p-3 mb-5">
                    <div class="w-50">
                        <h3 class="mb-3">Start a New Book</h3>
                        <form method="POST" action="/book">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input name="title" type="text" id="title" required>
                            </div>

                            <div class="form-group">
                                <label for="author">Author:</label>
                                <input name="author" type="text" id="author" required>
                            </div>

                            <div class="form-group">
                                <label for="description">Description:</label>
                                <input name="description" type="text" id="description" required>
                            </div>

                            <div class="form-group">
                                <input name="bookClubId" type="hidden" id="bookClubId" th:value="${currentClub.id}">
                            </div>

                            <div class="form-group">
                                <input name="userId" type="hidden" id="userId" th:value="${loggedUser.id}">
                            </div>

                            <button type="submit" class="btn btn-dark btn-md">Submit</button>
                        </form>
                    </div>

                    <div class="w-50 pl-4 pr-4">
                        <h3 class="mb-3">Previous Books</h3>
                        <ul th:if="${currentClub.books.size()>0}" class="list-group d-flex">
                            <li class="list-group-item p-1" th:each="book : ${currentClub.books}">
                                <form method="POST" action="/book" class="d-flex justify-content-between">
                                    <h5 class="ml-2 mt-2" th:text="${book.title}"></h5>
                                    <input name="bookClubId" type="hidden"  th:value="${currentClub.id}">
                                    <input name="userId" type="hidden"  th:value="${loggedUser.id}">
                                    <input name="bookId" type="hidden"  th:value="${book.id}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-dark btn-md">Delete</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="w-75 d-flex justify-content-center align-items-center">
                    <h1 class="card-title">Discussion Board</h1>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark ml-3" data-toggle="modal" data-target="#exampleModal">
                        Add a Post
                    </button>
                </div>
                <div class="rounded border border-secondary w-75 d-flex flex-wrap p-3">
                    <!-- https://getbootstrap.com/docs/4.0/components/modal/ -->

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add a Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="/discussion" id="newPost">
                                        <div class="form-group">
                                            <label for="content">Comment:</label>
                                            <textarea name="content" type="text" id="content" rows="5" maxlength="255"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <input name="userId" type="hidden"  th:value="${loggedUser.id}">
                                        </div>

                                        <div class="form-group">
                                            <input name="clubId" type="hidden"  th:value="${currentClub.id}">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button form="newPost" type="submit" class="btn btn-dark">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:if="${currentClub.discussions.size() > 0}" class="d-flex justify-content-center flex-wrap">
                        <div th:each="post : ${currentClub.discussions}" class="media text-left rounded border border-secondary m-3 w-100 p-3">
                            <img th:src="${post.discussionUser.userImg}" onerror="this.onerror=null; this.src='/default-avatar.png'" alt="user profile picture" width="15%">
                            <div class="media-body ml-2">
                                <div class="d-flex justify-content-between">
                                    <h3 th:text="${post.discussionUser.username}"></h3>
                                    <p th:text="${#dates.format(post.timeStamp, 'MM/dd/yyyy HH:mm')}"></p>
                                </div>
                                <p th:text="${post.content}"></p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>