<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="container">
    <header>
        <nav th:replace="fragments/nav :: nav"></nav>
    </header>
    <main class="mt-5 p-3 d-flex justify-content-center">
        <h1 class="mt-5">Sorry, that name is already taken</h1>

    </main>
</div>
</body>
</html>