<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omnibus</title>
</head>
<body>
    <h1>Update Your Profile Pic</h1>
    <p>Enter a valid image URL</p>
    <div class="container">
        <form method="POST" action="/users/pic">

            <div class="form-group">
                <input name="userId" type="hidden"  th:value="${loggedUser.id}">
            </div>
            <div class="form-group">
                <input name="imageURL" type="text">
            </div>
            <input type="hidden" name="_method" value="PUT">
            <button type="submit" class="btn btn-primary btn-md">Update</button>
        </form>
    </div>
</body>
</html>